@media(min-width:768px){
    .registration{
    padding-left: 400px;
    }
   
    .navbar-nav li a{
    padding: 15px 8px 15px 4px !important;
}
.navbar-default .navbar-collapse{
    padding:0px ;
}
.index-main .col-md-9, .index-main .col-md-4, .index-main .col-md-8{
    padding-right: 0px;
}
.index-main .col-md-3, .index-main .col-md-8{
    padding-left: 8px;
}
.index-main .col-md-12{
    padding-right: 10px;
}
.index-main .col-md-9{
    padding-left: 10px;
}
}

@media(min-width:992px){
     .container{
        width: 1065px;
        box-sizing: content-box !important;
    }
}


@media(min-width:1200px){
    
}