@media(min-width:768px){
    .registration{
    padding-left: 400px;
    }
   
    .navbar-nav li a{
    padding: 15px 8px 15px 4px !important;
}
.navbar-default .navbar-collapse{
    padding:0px ;
}
.most-list figure img{
    width: 100% !important;
    
}
footer{
     background-size: 5% 100% !important;
}

}

@media(min-width:992px){
     .container{
        width: 980px;
        box-sizing: content-box !important;
    }
    .misionar a:last-of-type{
    bottom: 20px !important;
}
.most-list figure img{
    max-width: 100% !important;
}

}

@media(min-width:1200px){
    
}