@media(min-width:400px){
    .ws50{
        width: 49%;
        display: inline-block!important;
    }
}
@media(min-width:768px){
    .registration{
    padding-left: 400px;
    }
   
    .navbar-nav li a{
    padding: 15px 8px 15px 4px !important;
}
.ws50{
    width: auto;
}
.navbar-default .navbar-collapse{
    padding:0px ;
}
.most-list figure img{
    width: 100% !important;
    
}
.text-frame-2 figure{
    width: 340px;
    height: 198px;
}
.text-frame-2 figure img{
    width: 100% !important;
    display: block !important;
}
.comment-post form{
    padding: 15px 20px;
    padding-top: 0px;
}
.comment-post label{
    max-width: 130px !important;
    padding-left: 20px!important;
}
.name-textarea{
    padding-left: 20px !important;
}
.comment-post input{
      max-width: 286px;
      margin-right: 250px;
}
.comment-post textarea{
    max-width: 460px;
}
.comment-post  h2{
    text-align: initial !important;
}
footer{
     background-size: 5% 100% !important;
}
.navbar-brand{
    display: none;
}
.navigation-header figure{
    display: inline-block !important;  
}

}

@media(min-width:992px){
     
    .misionar a:last-of-type{
    bottom: 20px !important;
}
.most-list figure img{
    max-width: 100% !important;
}
.navbar-nav li a{
    text-align: left !important;
}
footer .col-md-3{
    height: 215px;
}


}

@media(min-width:1200px){
    .container{
        width: 988px !important;
    }
    .site-included iframe{
        width: 960px;
        overflow: hidden;
        margin-left: 10px;
    }
    
}