img{
    max-width: 100%;
}
.header-bar{
    padding: 5px;
}
.registration{
    display: inline-block;
    margin: 0px;
}
.language{
    margin-right: 10px;
    margin-bottom:  0px;

}
.header-bar li{
    border-right: 1px solid #51575e;
    line-height: 18px;
}
.header-bar li:last-of-type{
    border: none;
}
.navigation-header{
    width: 100%;
    margin-top: 2px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.navigation-header figure{
    height: 90px;
    display: inline-block;
}
.navigation-header img{
    position: relative;
    top: -32px;
    left: 14px;
}
.navigation-header form{
    margin-top: 10px;
}
.navigation-header form input{
    padding: 5px 10px;
}
.navigation-header form i{
    position: relative;
    right: 20px;
}
.navbar-collapse{
    background: url(style-images/menu-bg.png) repeat-x center top;
}
.navbar-nav >li{
    background: url(style-images/menu-bg.png) repeat-x center top;
}
.navbar-default .navbar-nav>.open>a
, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background: url(style-images/menu-active-bg.png) repeat-x center;
    color: white;
}
.navbar{
    margin-bottom: 0px;
}
.dropdown-menu{
    background: #333 !important ;
    color: white ;
    padding: 0px;
    border: none;
    border-radius: 0px;
    width: 200px;
}
.navbar-default .navbar-nav > li > a{
    color: white;
    font-weight: bold;
    border-right: solid 1px #2066a7;
    border-left: solid 1px #58a7f3;
}
.navbar-nav li a{
    text-align: center;
}

.slider-control{
    max-height: 360px;
    background: #fff;
}
.gray-bg{
    background: url(style-images/gray-bg.png) repeat-x center;

}
.blue-bg{
    background: url(style-images/menu-bg.png) repeat-x center;

}
.gold-bg{
    background:url(style-images/gold-bg.png) repeat-x center;

}
.c1 .container-body{
    background-image: url(style-images/c1-bg.png); 

}
.c1 h5{
    font-size: 16px;
    font-weight: normal;
}

.c1 h4, .c2 h4,.sidebar-1 h4{
    padding: 10px 6px;
    padding-left: 16px;
    font-weight: bold;
    color: white;
    margin: 0px;
    text-transform: uppercase;
    font-size: 16px;
}
.c2 p{
    font-style: italic;
    font-size: 13px;
    height: 75px;
    overflow: hidden;
}
.c2 a{
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-weight: 500;

}
.c2 .container-body{
    background-image: url(style-images/c2-bg.png);
    position: relative;
}
.c2 h5{
    font-size: 15px;
    font-weight: normal;
}
.container-body{
    border: solid 1px #d1d1d1;
    padding: 15px 14px;
    background-size:     100% 100%;                     
    background-repeat:   no-repeat;
    box-sizing: border-box;
    border-top: none;
    height: 200px;
    font-size: 15px;
}
.sidebar-1 figure{
    width: 40px;
    height: 50px;
    display: inline-block;
    border: 2px solid #b07726;
    border-radius: 2px;
    box-sizing: initial;
}
.sidebar-1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sidebar-1 h2{
   font-size: 14px;
   display: inline-block;
}
.sidebar-1 .container-body{
    padding: 10px 8px;
    border-color: #915f26;
    background-image: url(style-images/s11-bg.png);
    
}
.sidebar-1{
    padding: 0px;
}
.slider-control{
    height: 360px;
}
.slider-container{
    width: 30%;
    float: left;
    margin: 0px 10px;
}
.sss{
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 10px;
}
