img{
    max-width: 100%;
}
body{
    background-color: #f5f5f5;
}
.header-bar{
    padding: 6px;
}
.registration{
    display: inline-block;
    margin: 0px;
}
.language{
    margin-right: 10px;
    margin-bottom:  0px;

}
.header-bar li{
    border-right: 1px solid #51575e;
    line-height: 18px;
}
.header-bar li:last-of-type{
    border: none;
}
.header-bar .dropdown-menu{
    max-width: 250px;
    padding: 15px;
    background-color: #fff!important;
    transition: 1s ease-in-out;
    color:#000;
}
.header-bar input{
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #ccc inset;
    box-shadow: 0 1px 1px #ccc inset;
}
.header-bar input:focus{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
.header-bar span{
    padding-left: 10px;
}
.header-bar button{
    background: linear-gradient(#6CB7DE, #3D68B2);
    background: -webkit-linear-gradient(#6CB7DE, #3D68B2); /*  For Safari 5.1 to 6.0 */ 
    background: -o-linear-gradient(#6CB7DE, #3D68B2); /*  For Opera 11.1 to 12.0 */
    background:  -moz-linear-gradient(#6CB7DE, #3D68B2); 
    background: linear-gradient(#6CB7DE, #3D68B2); /*  Standard syntax */
    border: none;
    padding: 5px 25px;
    color: white;
}
.navigation-header{
    width: 100%;
    margin-top: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
.navigation-header figure{
    height: 86px;
    display: none;
}
.navigation-header img{
    position: relative;
    top: -32px;
    left: 14px;
}
.navigation-header form{
    margin-top: 15px;
}
.navigation-header form input{
    width: 175px;
    padding: 2px 10px;
    box-shadow: -1px -1px 1px;
}
.navigation-header form a{
    position: relative;
    right: 20px;
}
.navbar-collapse{
    background: url(style-images/menu-bg.png) repeat-x center top;
}
.navbar-nav >li{
    background: url(style-images/menu-bg.png) repeat-x center top;
}
.navbar-default .navbar-nav>.open>a
, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background: url(style-images/menu-active-bg.png) repeat-x center;
    color: white;
}
.navbar-nav li a{
    text-align: left;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-brand {
    height: auto;
    padding: 0px;
}
.navbar-toggle{
    top: 50px;
    transform: translateY(-50%);
}
.navbar-brand{
    left: 50%;
    position: relative;
    top: -50%;
    transform: translate(-50%, 0%);
}
.dropdown-menu{
    background: #333 !important ;
    color: white ;
    padding: 0px;
    border: none;
    border-radius: 0px;
    width: 200px;
}
.dropdown-menu li a:hover{
    background-color: #393939!important;
}
.dropdown-menu li a{
    color: white !important;
    padding: 10px 10px 5px 10px !important;
}
.navbar-default .navbar-nav > li > a{
    color: white;
    font-weight: bold;
    border-right: solid 1px #2066a7;
    border-left: solid 1px #58a7f3;
}
.navbar-nav li a{
    text-align: center;
}

.slider-control{
    max-height: 360px;
    background: #fff;
}
.gray-bg{
    background: url(style-images/gray-bg.png) repeat-x center;

}
.blue-bg{
    background: url(style-images/menu-bg.png) repeat-x center;

}
.gold-bg{
    background:url(style-images/gold-bg.png) repeat-x center;

}
.c1 .container-body{
    background-image: url(style-images/c1-bg.png); 

}
.c1 h5{
    font-size: 16px;
    font-weight: normal;
}

.c1 h4, .c2 h4,.sidebar-1 h4{
    padding: 9px 6px;
    padding-left: 16px;
    font-weight: bold;
    color: white;
    margin: 0px;
    text-transform: uppercase;
    font-size: 16px;
}
.c2 p{
    font-style: italic;
    font-size: 13px;
    height: 75px;
    overflow: hidden;
}
.c2 a{
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-weight: 500;

}
.c2 .container-body{
    background-image: url(style-images/c2-bg.png);
    position: relative;
}
.c2 h5{
    font-size: 15px;
    font-weight: normal;
}
.container-body{
    border: solid 1px #d1d1d1;
    padding: 15px 14px;
    background-size:     100% 100%;                     
    background-repeat:   no-repeat;
    box-sizing: border-box;
    border-top: none;
    height: 200px;
    font-size: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.sidebar-1 .gold-bg{
    border-top: solid 1px #915f26;
}
.sidebar-1 figure{
    width: 40px;
    height: 50px;
    display: inline-block;
    border: 2px solid #b07726;
    border-radius: 2px;
    box-sizing: initial;
}
.sidebar-1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sidebar-1 h2{
    font-size: 14px;
    display: inline-block;
}
.sidebar-1 .container-body{
    padding: 10px 8px;
    border-color: #915f26;
    background-image: url(style-images/s11-bg.png);

}

.slider-control{
    height: 360px;
}
.slider-container{
    width: 30%;
    float: left;
    margin: 5px 10px;
}
.s1,.s2, .s3{
    margin-top: 10px;
}
.s1 .title a ,.s2 .title a, .s3 .title a{
    display: inline-block;
    color: white;
    height: 100%;
    padding: 10px;
    border-right: 1px solid #fff;
}
.sb-title{
    background: url(style-images/cat-title-bg.png) repeat-x center;
}
.sb-title span{
    display: inline-block;
    background: #fff;
    padding-right: 5px;
}
.headline-integration{
    margin: 0px;
    font-size: 17px;
    height: 30px;
    padding-bottom: 10px;
    padding-top: 3px;
    display: inline-block;
}
.title{
    height: 36px;
    color: white;
}
.sss{
    border: 1px solid black;
    border-radius: 3px;
    border-top: none;
}
.icon{
    width: 24px;
    height: 24px;
    background: url(style-images/book-icon.png) no-repeat 0 0;
}
.button-control{
    background: url(style-images/gray-bg.png) repeat-x center;
    height: 100%;
}
.button-control a{
    display: inline-block;
    padding: 0px !important;
}
.button-control a:last-of-type{
    border-right: none;
}
.button-control span{
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px;
}

.bilten .title span{
    display: inline-block;
    padding: 8px;
}
.title-span{
    display: inline-block;
    padding: 8px;
}
.bilten section:last-of-type{
    border: 1px solid black;
    border-top: none;
    padding: 10px;
    background: url(style-images/newsletter-bg.png) no-repeat 36px 0px;
}
.bilten section:last-of-type div{
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    background: #fff;
}
.bilten input{
    border: 1px solid #E0E0E0;
    padding: 2px 10px;
    box-shadow: -1px -1px 2px #E0E0E0;
}

.page-content div:last-of-type{
    border: 1px solid black;
    background: url(style-images/newsletter-bg.png) no-repeat 36px 0px;
    padding: 5px;
    height: 139px;
}
.page-content h3{
    font-size: 17px;
    margin: 0px;
}
.page-content figure{
    width: 100%;
}
.app-store, .google-store{
    height: 116px;
    background: url(style-images/store-bg.png) repeat;
    margin-bottom: 10px;
    border-radius: 2px;
}
.app-store h4, .google-store h4{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    text-shadow: 0px 1px 1px #111;

}
.google-store h4{
    text-align: left;
}
.app-store div{
    background: url(style-images/appstore.png) no-repeat;
    background-position: 8px 4px;
}
.google-store div, .app-store div{
    padding: 5px;
    height: 100%;
}
.google-store div{
    background: url(style-images/googleplay.png) no-repeat;
    background-position: 90% 8px;
}
.store-button{
    display: inline-block;
    background: url(style-images/menu-bg.png);
    padding: 5px;
    color: white;
    box-shadow: 0px 5px 10px black;
    border-radius: 2px;
    position: relative;
    bottom: -15px;
}
.forum-content{
    background: url(style-images/forum-bg.png) repeat-x;
    height: 116px;
    border: 1px solid #d1d1d1;
    margin-bottom: 10px;
}
.forum-content div{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    width: 80%;
}
.misionar{
    margin-bottom: 10px;
}

.misionar div:last-of-type{
    padding: 8px 14px;
    background: url(style-images/s2-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 208px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #915f26;
}

.misionar h2{
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #4f4332;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 10px;
}
.misionar h3{
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    color: #b07726;
    text-transform: uppercase;
    margin-top: 0px;
}
.misionar a:last-of-type{
    position: absolute;
    bottom: 12px;
    font-size: 12px;
    line-height: 23px;
    text-shadow: 0px 1px 1px #806844;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.misionar a:last-of-type span{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    bottom: -3px;
}
.youtube-video{
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}
.the-most .tab-content{
    border: solid 1px #d0d0d0;
    border-top: none;
    height: 670px;
    overflow: scroll;
    transition: 1.5s ease;
    background: #fff;
}
.most-list{
    list-style: none;
    padding: 0px;
    padding-top: 10px;
}
.most-list li{
    border-top: 1px solid #d0d0d0;
    padding: 5px 10px;
    padding-right: 3px;
}
.most-list li:first-of-type{
    border-top: none;
}
.most-list li {

}

.most-list figure{
    display: block;
    width: 25%;
    height: 55px;
    float: left;
    margin-right: 5px;
}
.most-list figure img{
    height: 55px;
}
.most-info a:first-of-type{
    margin-right: 20px;
}
.facebook-container .title-span{
    text-align: right;
    padding:5px 0px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    right: 0;
}
.facebook-title{
    height: 36px;
    background-image: url(style-images/facebook-header.png);
    background-repeat: no-repeat;
    position: relative;
}

footer{
    background-image: url(style-images/footer-bg.png);
    background-repeat: repeat;
    background-position: 0 0;
}
.footer-title a{
    text-decoration: none;
}
footer h2{
    font-size: 13px;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    line-height: 19px;
}

footer h2:hover{
    color: #444;
}
footer .fa{
    margin-right: 10px;
}
footer .list-unstyled a{
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    line-height: 19px;
    font-size: 13px;
    text-decoration: none;
}
footer .list-unstyled a:hover{
    color: #444;
}
footer .col-md-3{
    background-image:   url(style-images/footer-shadow.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
footer .col-md-3:first-of-type{
    background-image: none;
}
.footer-bottom{
    background-color: #545a61;
    padding: 2px;
    color: white;
}
.footer-bottom .pull-left{
    padding: 10px 0px;
}
.footer-bottom .pull-right{
    padding: 2px 0px;
}

.social-bar{
    margin: 0px;
}
.social-bar .fa{
    color: white;
    line-height: 35px;
    font-size: 20px;
    margin: 0px;
}
.social-bar a{
    background-color: #323232;
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid #323232;
    border-radius: 50%;
    text-align: center;
    transition: 1s ease;
}
.social-bar a:hover{
    background: white;
}
.social-bar a:hover .fa {
    color: #323232;
}
.content-blagoslov article{
    border: 1px solid  #d1d1d1;
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}
.social-share{
    border: 1px solid #d1d1d1;
    padding: 6px 12px 0px 12px;
    margin-top: 10px;
    border-radius: 3px;
    background-image: url(style-images/social-bg.png);
    background-repeat: repeat-x;
    background-size: contain;
}
.social-share ul{
    margin: 0px;
}
.social-share ul li{
    padding: 0px;
    width: 80px;
}
.facebook-share{
    position: relative;
    top: -5px;
    width: 202px!important;
    margin-top: 5px;
}
.pinterest{
    position: relative;
    top: -6px;
    margin-top: 5px;
}

.page-overview{
    padding: 5px 10px;
    background: #fff;
    border: 1px solid  #d0d0d0;
}
.page-overview figure{
    width: 50px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
}
.page-overview >a{
    display: inline-block;
}
.page-overview .most-info{
    display: inline-block;
}
.page-overview .most-info a:first-of-type{
    margin-bottom: 8px;
    position: relative;
    bottom: 10px;
}
.tag-bar .title a{
    color: white;
    text-decoration: none;
}
/*.text-frame1 img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}*/
.text-frame1 section{
    border: 1px solid #d1d1d1;
    border-bottom: none;
    padding: 20px;
    background:  #fff url(style-images/corner.jpeg) no-repeat left top;
}
.text-frame1 figure{
    width: 165px;
    max-height: 95px;
    margin-right: 10px; 
    float: left;
}


.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 5px 2px;
    color: #2C86D2;
    text-decoration: none;
    background-color: #f5f5f5;
    margin: 0px 2px;
    border: none;
    font-size: 16px;
    top: -1px;
    font-size: 14px;
}
.pagination > li > a:hover, .pagination > li > span:hover{
    background: #2C86D2;
    color: #fff;
}
.control-pagination{
    background: #f5f5f5 !important;
    color: black !important;
    font-size: 16px !important;
    top: 0px !important;
    margin: 0px !important;
    font-size: 12px !important;
}

.text-frame1 h2{
    font-size: 18px;
}
.tag-bar{
    margin: 10px 0px;
}
.tag-cloud{
    background: #fff;
    margin: 0px;
    padding: 7px 11px;
}
.tag-cloud li{
    padding-right: 4px;
    padding-left: 0px;
    height: 25px;
    background: url(style-images/tag-rest.png) no-repeat right top;
    margin-left: 4px;
    margin-bottom: 3px;
}
.tag-cloud li:first-of-type{
    position: relative;
    bottom: -11px;
}
.tag-cloud li a{
    display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 9px;
    padding-right: 5px;
    background: url(style-images/tag-bg.png) no-repeat left top;
    font-size: 11px;
}
.actual-content{
    min-height: 500px;
    border: solid 1px #d1d1d1;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 20px 15px;
}
.text-frame-2 .social-share{
    margin-bottom: 5px;
}
.text-frame-2 i{
    padding: 5px 0px;
}
.social-share i{
    padding: 0px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    text-shadow: 0px 1px 1px #fff;
}
.intro-text{
    text-align: justify;
    font-size: 15px;
    text-shadow: 0px 1px 1px #fff;
    font-family: Arial, 'DroidSerifRegular', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    line-height: 21px;
    font-style: italic;
    color: #63676c;
    padding: 5px 0;
}
.post-author .date{
    padding-right: 10px;
}
.actual-content figure{
    margin: 5px;
}
.comment-post{
    margin-bottom: 10px;
    padding: 20px 15px;
    background: #fff;
}

.comment-post  h2{
    font-size: 16px;
    padding: 5px 15px;
    color: #000 !important;
    font-weight: bold;
    text-align: center;
}
.comment-post label{
    color: #8c9299;
    padding: 0px;
    line-height: 14px;
    font-size: 13px;
    width: 100%;
    font-weight: normal;
}
.comment-post input{
    height: 28px;
    background: none;
    border: solid 1px #d1d1d1;
    -moz-box-shadow: inset 1px 2px 4px #e7e7e7;
    -webkit-box-shadow: inset 1px 2px 4px #e7e7e7;
    box-shadow: inset 1px 2px 4px #e7e7e7;
    border-radius: 2px;
    -moz-border-radius: 2px;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    height: 30px;
}
.comment-post textarea{
    resize: none;
    width: 100%;
    padding: 10px;
    border: solid 1px #d1d1d1;
    box-shadow: inset 1px 2px 4px #e7e7e7;
    border-radius: 2px;
}
.name-textarea{
    padding-left: 10px;
    padding-bottom: 16px!important;
    display: block;
}
.nav-tabs li a{
    padding: 10px 0px;
}/*------TAB SCROLL----*/

#datepicker > div{
    display: inline !important;
}
.gallery-control-1 figure{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 1px solid #E0E0E0;
    margin-top: 20px;
    transition: height 0.5s;
    z-index: 100;
    background: #fff;     
}

.gallery-control-1 figure:hover{
    height: 180px;
    z-index: 100;
}
.gallery-control-1 figure img{
    display: block;
    padding: 5px;
    width: 200px;
    height: 150px;
}
.gallery-control-1 figure:hover img{
    opacity: 0.3;
     background: #fff;
}
.image-caption{
    visibility: hidden;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}
.gallery-control-1 figure:hover .image-caption{
    visibility: visible;
    opacity: 1;
    background: #fff;
}

.control-thumbnails{
    display: inline-block; 
    overflow: hidden; 
    height: 210px;
    margin-left: 30px;
}
.control-thumbnails:first-of-type{
    margin-left: 0px !important;
}
.container-shadow{
    position: absolute;
    padding: 0px;
    width: 100% !important;
    height: 60px !important;
    bottom: -23px;
    z-index: -1;
}
.date-content{
    margin: 10px 0px;
    height: 20px;
}
.gallery-pagination .pagination > li > a {
    position: relative;
    float: none;
    padding: 8px 12px;
    color: graytext;
    text-decoration: none;
    background-color: #ecf0f1;
    margin: 0px 2px;
    border: none;
    font-size: 16px;
    top: -1px;
    font-size: 14px;
    border-radius: 3px;
}

.gallery-pagination .active{
    background: #d9ddde !important ;
}
.fg-panel h2{
    margin: 10px 0px;
    font-size: 18px;
}
.fg-panel .date-content{
    margin-bottom: 10px;
    margin-right: 10px;
}










